/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000000; }

/* estilos de nav */
header {
  display: flex; }
  header .navbar .container-fluid .navbar-brand {
    display: flex;
    justify-content: center; }
    header .navbar .container-fluid .navbar-brand .logo {
      width: 40%;
      margin: 1rem;
      transition: all 300ms; }
      header .navbar .container-fluid .navbar-brand .logo:hover {
        transform: scale(1.1); }
  header .navbar .container-fluid .navbar-collapse {
    text-align: center; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
      margin: 0.5rem;
      font-size: 1.5rem;
      font-family: 'Bangers', cursive;
      transition: all 300ms; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:hover {
        transform: scale(1.15); }

.main-home {
  display: grid;
  grid-template-areas: "video" "bbc";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 60vh;
  justify-items: center;
  text-align: center;
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-position: center; }
  .main-home .video {
    grid-area: video;
    margin-top: 1rem; }
    .main-home .video .yt-link {
      width: 420px;
      height: 210px; }
  .main-home .bbc {
    grid-area: bbc;
    position: relative;
    background-color: #950101;
    height: fit-content;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1.5rem;
    border-style: groove;
    border-color: whitesmoke;
    overflow: auto; }
    .main-home .bbc p {
      color: white;
      font-family: 'Bebas Neue', cursive;
      font-size: 1rem; }
      .main-home .bbc p a {
        text-decoration: none;
        color: white; }
        .main-home .bbc p a:hover {
          color: #000000; }

.img-tours {
  display: none; }

.footer-home {
  margin-top: 5rem;
  width: 100vw;
  position: absolute;
  text-align: center;
  background-color: #000000; }
  .footer-home .copy {
    color: white;
    font-size: 1.2rem; }
