/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-tours .venta .container-compra .ticket .buy-button {
  color: #000000;
  text-decoration: none;
  background-color: greenyellow;
  padding: 0.4rem;
  height: fit-content;
  font-family: 'Bebas Neue', cursive;
  border-radius: 0.4rem;
  font-size: 1.2rem; }

.albm .alb-descrip {
  background-color: #252525;
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  border-radius: 0.5rem;
  border-style: solid;
  color: #ffffff;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem; }

.main-tours .venta .container-compra .ticket .fecha, .main-tours .venta .container-compra .ticket .lugar {
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  padding: 0.5rem; }

/* estilos del body */
body {
  background-color: #000000;
  height: 100vh; }

/* index */
/* estilos de nav */
header .navbar .container-fluid {
  display: flex; }
  header .navbar .container-fluid .redes {
    display: flex;
    width: fit-content; }
    header .navbar .container-fluid .redes .link-redes {
      display: grid;
      width: 40px;
      justify-items: center;
      padding: 10px;
      transition: all 600ms; }
      header .navbar .container-fluid .redes .link-redes .facebook-dos {
        width: 100%; }
      header .navbar .container-fluid .redes .link-redes .instagram-dos {
        width: 100%; }
      header .navbar .container-fluid .redes .link-redes .twitter-dos {
        width: 100%; }
      header .navbar .container-fluid .redes .link-redes:hover {
        transform: scale(1.15); }
  header .navbar .container-fluid .navbar-brand {
    display: flex;
    justify-content: center; }
    header .navbar .container-fluid .navbar-brand .logo {
      width: 40%;
      margin: 1rem;
      transition: all 300ms; }
      header .navbar .container-fluid .navbar-brand .logo:hover {
        transform: scale(1.1); }
  header .navbar .container-fluid .navbar-collapse {
    text-align: center; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
      margin: 0.5rem;
      font-size: 1.5rem;
      font-family: 'Bangers', cursive;
      transition: all 300ms; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:hover {
        transform: scale(1.15); }

/* estilos de main home */
.main-home {
  display: grid;
  grid-template-areas: "video" "bbc";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  text-align: center;
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .main-home .video {
    grid-area: video;
    margin-top: 1rem; }
    .main-home .video .yt-link {
      width: 100%;
      height: 100%; }
  .main-home .bbc {
    grid-area: bbc;
    position: relative;
    background-color: #950101;
    height: fit-content;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    border-style: groove;
    border-color: whitesmoke;
    overflow: auto; }
    .main-home .bbc p {
      color: white;
      font-family: 'Bebas Neue', cursive;
      font-size: 1rem; }
      .main-home .bbc p a {
        text-decoration: none;
        color: white; }
        .main-home .bbc p a:hover {
          color: #000000; }

.img-tours {
  display: none; }

/* estilos de footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100vw;
  position: absolute;
  text-align: center;
  background-color: #000000; }
  footer .copy {
    color: white;
    font-size: 1.2rem; }
  footer .redes-container .wsp-per {
    text-decoration: none; }
    footer .redes-container .wsp-per img {
      width: 50px; }
  footer .redes-container .insta-per img {
    width: 40px; }

/*media screen 760px*/
@media screen and (min-width: 760px) {
  header .navbar .container-fluid .navbar-brand .logo {
    width: 40%; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    font-size: 1.8rem; }
  .main-home .video .yt-link {
    width: 490px;
    height: 280px; }
  .main-home .bbc p {
    font-size: 1.2rem; } }

/*screen 1280px*/
@media screen and (min-width: 1280px) {
  header .navbar .container-fluid .navbar-brand .logo {
    width: 50%; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    font-size: 2.5rem; }
  .main-home {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-home .video .yt-link {
      width: 510px;
      height: 310px; }
    .main-home .bbc p {
      font-size: 1.3rem; }
  .img-tours {
    display: block;
    width: 100vw; }
    .img-tours div {
      display: flex;
      justify-content: center; } }

/* html miembros */
.portada-miembros {
  background-image: url(../img/miembrosportada.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  position: relative;
  display: none; }

/* estilos de main miembros */
.main-miembros {
  display: flex;
  flex-flow: wrap column;
  align-content: center;
  text-align: center;
  background-color: #252525;
  padding: 2rem; }
  .main-miembros .title-miembros {
    color: #D72323;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #000000; }
  .main-miembros .miembro img {
    width: 60%;
    margin: 1rem;
    border: #000000 solid 4px; }
  .main-miembros .miembro .bio {
    background-color: #414141;
    max-width: 700px;
    width: fit-content;
    max-height: fit-content;
    margin: 0.5rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1rem;
    padding: 0.5rem; }
    .main-miembros .miembro .bio span {
      color: #ff8181; }
  .main-miembros .miembro-dos img {
    max-width: 60%;
    margin: 1rem;
    border: #000000 solid 4px; }
  .main-miembros .miembro-dos .bio {
    background-color: #414141;
    max-width: 700px;
    width: fit-content;
    max-height: fit-content;
    margin: 0.5rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1rem;
    padding: 0.5rem; }
    .main-miembros .miembro-dos .bio span {
      color: #ff8181; }
  .main-miembros .ex-miembros {
    color: #D72323;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #000000; }

/*screen 760px*/
@media screen and (min-width: 760px) {
  .portada-miembros {
    display: block; }
  .main-miembros .title-miembros {
    font-size: 1.8rem; }
  .main-miembros .miembro img {
    max-width: 400px; }
  .main-miembros .miembro-dos img {
    max-width: 400px; } }

/*screen 1024*/
@media screen and (min-width: 1024px) {
  .main-miembros .miembro {
    display: flex;
    margin: 1rem;
    height: 400px; }
  .main-miembros .miembro-dos {
    display: flex;
    margin: 1rem;
    flex-direction: row-reverse;
    height: 400px; } }

/*screen 1280px*/
@media screen and (min-width: 1280px) {
  .main-miembros .title-miembros {
    font-size: 2rem; }
  .main-miembros .miembro {
    display: flex;
    margin: 1rem;
    height: 400px; }
    .main-miembros .miembro img {
      width: 100%; }
    .main-miembros .miembro .bio {
      font-size: 1.2rem; }
  .main-miembros .miembro-dos {
    display: flex;
    margin: 1rem;
    flex-direction: row-reverse;
    height: 400px; }
    .main-miembros .miembro-dos img {
      width: 100%; }
    .main-miembros .miembro-dos .bio {
      font-size: 1.2rem; }
  .main-miembros .ex-miembros {
    font-size: 2rem; } }

/* html discografia */
.portada-discografia {
  background-image: url(../img/portadadiscografia.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  position: relative;
  display: none; }

.main-discografia {
  background-color: #414141;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-discografia .title-discografia {
    color: #D72323;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #000000; }
  .main-discografia .albums .disco {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    transition: all 300ms;
    border: #131313 solid 8px; }
    .main-discografia .albums .disco:hover {
      transform: scale(1.05); }
    .main-discografia .albums .disco .album {
      position: relative;
      height: 300px;
      width: 300px;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }
      .main-discografia .albums .disco .album img {
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out; }
      .main-discografia .albums .disco .album .capa {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(56, 56, 56, 0.7);
        transition: all 500ms ease-out;
        opacity: 0;
        padding: 1rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem;
        color: #ffffff; }
        .main-discografia .albums .disco .album .capa:hover {
          opacity: 1;
          visibility: visible; }

/*screen 760px*/
@media screen and (min-width: 760px) {
  .portada-discografia {
    display: block; }
  .main-discografia .albums {
    display: grid;
    grid-template-areas: "we-are-not-your-kind the-gray-chapter" "all-hope-is-gone vol-tres" "iowa slipknot-album";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 1rem; }
    .main-discografia .albums .album-6 {
      grid-area: we-are-not-your-kind; }
    .main-discografia .albums .album-5 {
      grid-area: the-gray-chapter; }
    .main-discografia .albums .album-4 {
      grid-area: all-hope-is-gone; }
    .main-discografia .albums .album-3 {
      grid-area: vol-tres; }
    .main-discografia .albums .album-2 {
      grid-area: iowa; }
    .main-discografia .albums .album-1 {
      grid-area: slipknot-album; } }

/*screen 1280px*/
@media screen and (min-width: 1280px) {
  .main-discografia .title-discografia {
    font-size: 2rem; }
  .main-discografia .albums {
    display: grid;
    grid-template-areas: "we-are-not-your-kind the-gray-chapter all-hope-is-gone" "vol-tres iowa slipknot-album";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.5fr;
    gap: 1rem; }
    .main-discografia .albums .album-6 {
      grid-area: we-are-not-your-kind; }
    .main-discografia .albums .album-5 {
      grid-area: the-gray-chapter; }
    .main-discografia .albums .album-4 {
      grid-area: all-hope-is-gone; }
    .main-discografia .albums .album-3 {
      grid-area: vol-tres; }
    .main-discografia .albums .album-2 {
      grid-area: iowa; }
    .main-discografia .albums .album-1 {
      grid-area: slipknot-album; } }

/* albums 1 al 6 */
.portada-discografia-albums {
  background-image: url(../img/portadadiscografia.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  position: relative;
  display: none; }

.albm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #414141;
  margin: 1rem;
  border-radius: 1rem; }
  .albm .img-albums {
    border: #131313 solid 8px;
    display: flex;
    justify-content: center; }
    .albm .img-albums img {
      width: 100%; }
  .albm .alb-descrip .album-title {
    color: #D72323;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #000000; }
  .albm .alb-descrip p {
    font-size: 0.8rem; }
  .albm .redes {
    display: none; }
  .albm .spotify {
    height: 380px;
    width: 100%; }

/* screens 760px */
@media screen and (min-width: 760px) {
  .portada-discografia-albums {
    display: block; }
  .albm {
    display: grid;
    grid-template-areas: "img-album descripcion redes" "spotify spotify redes";
    grid-template-columns: 3fr, 3fr, 1fr;
    grid-template-rows: 1fr, 2fr;
    justify-content: center;
    gap: 1rem; }
    .albm .img-albums {
      grid-area: img-album; }
    .albm .alb-descrip {
      grid-area: descripcion; }
    .albm .spotify-container {
      grid-area: spotify;
      display: flex;
      justify-content: center; }
      .albm .spotify-container .spotify {
        width: 100%; } }

/* screens 1080px*/
@media screen and (min-width: 1080px) {
  .albm {
    display: grid;
    grid-template-areas: "img-album descripcion" "redes spotify";
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center; }
    .albm .img-albums {
      grid-area: img-album;
      width: 300px; }
    .albm .alb-descrip {
      grid-area: descripcion;
      justify-self: left;
      max-width: 750px;
      width: fit-content; }
      .albm .alb-descrip .album-title {
        font-size: 1.5rem; }
      .albm .alb-descrip p {
        font-size: 1.2rem; }
    .albm .redes {
      grid-area: redes;
      display: block;
      background-color: #252525;
      border: solid white;
      border-radius: 1rem;
      max-width: 300px; }
      .albm .redes a {
        display: grid;
        width: fit-content;
        justify-items: center;
        padding: 1rem;
        transition: all 600ms; }
        .albm .redes a .facebook {
          min-width: 100px;
          max-width: 20%; }
        .albm .redes a .instagram {
          min-width: 100px;
          max-width: 20%; }
        .albm .redes a .twitter {
          min-width: 100px;
          max-width: 20%; }
        .albm .redes a:hover {
          transform: scale(1.15); }
    .albm .spotify-container {
      justify-self: left;
      grid-area: spotify;
      width: fit-content; }
      .albm .spotify-container .spotify {
        width: 750px; } }

/*html tours*/
.main-tours {
  background-color: #414141;
  padding: 1rem; }
  .main-tours .title-tours {
    color: #D72323;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #000000; }
  .main-tours .venta {
    background-color: #000000;
    padding: 1rem; }
    .main-tours .venta .container-compra {
      display: flex;
      flex-direction: column;
      background-color: #414141; }
      .main-tours .venta .container-compra .ticket {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        margin: 1rem;
        padding: 1rem;
        border: solid 0.2rem white;
        border-radius: 0.5rem; }
        .main-tours .venta .container-compra .ticket .fecha {
          text-align: center; }
        .main-tours .venta .container-compra .ticket .lugar {
          text-align: center; }
        .main-tours .venta .container-compra .ticket .buy-button {
          transition: all 300ms; }
          .main-tours .venta .container-compra .ticket .buy-button:hover {
            transform: scale(1.15); }

/* screens 520px */
@media screen and (min-width: 520px) {
  .main-tours .venta .container-compra .ticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

/* screens 760px */
@media screen and (min-width: 760px) {
  .main-tours .title-tours {
    font-size: 1.8rem; }
  .main-tours .venta .container-compra .ticket .fecha {
    font-size: 1.2rem; }
  .main-tours .venta .container-compra .ticket .lugar {
    font-size: 1.2rem; }
  .main-tours .venta .container-compra .ticket .buy-button {
    font-size: 1.2rem; } }

/* screens 1024px */
@media screen and (min-width: 1024px) {
  .main-tours .title-tours {
    font-size: 2rem; }
  .main-tours .venta .container-compra .ticket .fecha {
    font-size: 1.5rem; }
  .main-tours .venta .container-compra .ticket .lugar {
    font-size: 1.5rem; }
  .main-tours .venta .container-compra .ticket .buy-button {
    font-size: 1.5rem; } }

/* html contacto */
.contacto-portada {
  background-image: url(../img/portadacontacto.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  position: relative;
  display: none; }

.main-contacto {
  padding: 2rem;
  background-color: #252525;
  text-align: center; }
  .main-contacto .title-contacto {
    color: #D72323;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #000000; }
  .main-contacto .contacto-per .mail-contacto p {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem; }
  .main-contacto .envianos-tu-msj {
    color: #D72323;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #000000; }
  .main-contacto form {
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px; }
    .main-contacto form input, .main-contacto form textarea {
      width: 50%;
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box; }

/*screen 760px*/
@media screen and (min-width: 760px) {
  .contacto-portada {
    display: block; }
  .main-contacto .title-contacto {
    font-size: 1.8rem; }
  .main-contacto .contacto-per .mail-contacto p {
    font-size: 1.5rem; }
  .main-contacto .envianos-tu-msj {
    font-size: 1.8rem; } }

/*screen 1280px*/
@media screen and (min-width: 1280px) {
  .main-contacto .title-contacto {
    font-size: 2rem; }
  .main-contacto .contacto-per .mail-contacto p {
    font-size: 1.8rem; }
  .main-contacto div .envianos-tu-msj {
    font-size: 2rem; } }
