/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// imports

@import "base/variables";
@import "base/extend";
@import "base/mixins";

// nesting

/* estilos del body */

body{
     background-color: $color-ppal;
     height: 100vh;
}

/* index */
/* estilos de nav */
header{
    .navbar{
        .container-fluid{
            display: flex;
            .redes{
                display: flex;
                width: fit-content;
                .link-redes{
                    display: grid;
                    width: 40px;
                    justify-items: center;
                    padding: 10px;
                    .facebook-dos{
                        width: 100%;
                    }
                    .instagram-dos{
                        width: 100%;
                    }
                    .twitter-dos{
                        width: 100%;
                    }
                    transition: all 600ms;
                    &:hover{
                        transform: scale(1.15);
                    }
                }
            }
            .navbar-brand{
                display: flex;
                justify-content: center;
                .logo{
                    width: 40%;
                    margin: 1rem;
                    transition: all 300ms;
                    &:hover{
                        transform: scale(1.10);
                    }
                }
            }
            .navbar-collapse{
                text-align: center;
                .navbar-nav{
                    .nav-item{
                        margin: 0.5rem;
                        font-size: 1.5rem;
                        font-family: 'Bangers', cursive;
                        transition: all 300ms;
                        &:hover{
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }  
}

/* estilos de main home */

.main-home{
    display: grid;
    grid-template-areas: "video"
                         "bbc";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .video{
        grid-area: video;
        margin-top: 1rem;
        .yt-link{
            width: 100%;
            height: 100%;
        }
    }
    .bbc{
        grid-area: bbc;
        position: relative;
        background-color: $color-terc;
        height: fit-content;
        width: fit-content;
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;
        border-style: groove;
        border-color: whitesmoke;
        overflow: auto;
        p{
            color: $color-sec;
            font-family: 'Bebas Neue', cursive;
            font-size: 1rem;
            a{
                text-decoration: none;
                color: $color-sec;
                &:hover{
                    color: $color-ppal;
                }
            }
        }
    }
}

.img-tours{
    display: none;
}

/* estilos de footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100vw;
    position: absolute;
    text-align: center;
    background-color: $color-ppal;
    .copy{
        color: $color-sec;
        font-size: 1.2rem;
    }
    .redes-container{
        .wsp-per{
            text-decoration: none;
            img{
                width: 50px
            }
        }
        .insta-per{
            img{
                width: 40px;
            }
        }
    }
}

/*media screen 760px*/
@media screen and (min-width:760px){    
    header{
        .navbar{
            .container-fluid{
                .navbar-brand{
                    .logo{
                        width: 40%;
                    }
                }
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }

    .main-home{
        .video{
            .yt-link{
                width: 490px;
                height: 280px;
            }
        }
        .bbc{
            p{
                font-size: 1.2rem;
            }
        }
    }
}

/*screen 1280px*/
@media screen and (min-width: 1280px){
    
    header{
        .navbar{
            .container-fluid{
                .navbar-brand{
                    .logo{
                        width: 50%;
                    }
                }
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }
    
    .main-home{
        @include flex;
        .video{
            .yt-link{
                width: 510px;
                height: 310px;
            }
        }
        .bbc{
            p{
                font-size: 1.3rem;
            }
        }
    }

    .img-tours{
        display: block;
        width: 100vw;
        div{
            display: flex;
            justify-content: center;
        }
    }
}

/* html miembros */

.portada-miembros{
    background-image: url(../img/miembrosportada.jpg);
    @include portadas;
}

/* estilos de main miembros */

.main-miembros{
    display: flex;
    flex-flow: wrap column;
    align-content: center;
    text-align: center;
    background-color: #252525;
    padding: $medida-ppal;
    .title-miembros{
        @include subtitulos;
    }
    
    .miembro{
        img{
            width: 60%;
            margin: 1rem;
            border: $color-ppal solid 4px;
        }
        .bio{
            @include bio;
            span{
                color: #ff8181;
                
            }
        }
    }
    .miembro-dos{
        img{
            max-width: 60%;
            margin: 1rem;
            border: $color-ppal solid 4px;
        }
        .bio{
            @include bio;
            span{
                color: #ff8181;
            }
        }
    }
    .ex-miembros{
        @include subtitulos;
    }
}

/*screen 760px*/
@media screen and (min-width: 760px) {
    .portada-miembros{
        display: block;
    }
    .main-miembros{
        .title-miembros{
            font-size: $medida-terc;
        }
        .miembro{
            img{
                max-width: 400px;
            }
        }
        .miembro-dos{
            img{
                max-width: 400px;
            }
        }
    }
}

/*screen 1024*/
@media screen and (min-width: 1024px) {
    .main-miembros{
        .miembro{
            @include miembros;
        }
        .miembro-dos{
            @include miembrosDos;
        }
    }
}

/*screen 1280px*/
@media screen and (min-width: 1280px) {
    .main-miembros{
        .title-miembros{
            font-size: $medida-ppal;
        }
        .miembro{
            @include miembros;
            img{
                width: 100%;
            }
            .bio{
                font-size: $medida-cuar;
            }
        }
        .miembro-dos{
            @include miembrosDos;
            img{
                width: 100%;
            }
            .bio{
                font-size: $medida-cuar;
            }
        }
        .ex-miembros{
            font-size: $medida-ppal;
        }
    }
}

/* html discografia */

.portada-discografia{
    background-image: url(../img/portadadiscografia.png);
    @include portadas;
}

.main-discografia{
    background-color: #414141;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-discografia{
        @include subtitulos;
    }
    .albums{
        .disco{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.2rem;
            transition: all 300ms;
            border: rgb(19, 19, 19) solid 8px;
            &:hover{
                transform: scale(1.05);
            }
            .album{
                position: relative;
                height: 300px;
                width: 300px;
                overflow: hidden;
                border-radius: 6px;
                box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
                img{
                    width: 100%;
                    height: 100%;
                    transition: all 500ms ease-out;
                }
                .capa{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(56, 56, 56, 0.7);
                    transition: all 500ms ease-out;
                    opacity: 0;
                    padding: 1rem;
                    font-family: 'Bebas Neue', cursive;
                    font-size: $medida-secun;
                    color: #ffffff;
                    &:hover{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }    
        }
    }
}
/*screen 760px*/
@media screen and (min-width: 760px) {
    .portada-discografia{
        display: block;
    }
    .main-discografia{
        .albums{
            display: grid;
            grid-template-areas:"we-are-not-your-kind the-gray-chapter"
                                "all-hope-is-gone vol-tres"
                                "iowa slipknot-album";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 0.5fr 0.5fr 0.5fr;
            gap: 1rem;
            
            .album-6{
                grid-area: we-are-not-your-kind;
            }
    
            .album-5{
                grid-area: the-gray-chapter;
            }
    
            .album-4{
                grid-area: all-hope-is-gone;
            }
    
            .album-3{
                grid-area: vol-tres;
            }
    
            .album-2{
                grid-area: iowa;
            }
    
            .album-1{
                grid-area: slipknot-album;
            }
        }   
    }
}

/*screen 1280px*/
@media screen and (min-width: 1280px) {    
    
    .main-discografia{
        .title-discografia{
            font-size: $medida-ppal;
        }
        .albums{
            display: grid;
            grid-template-areas:"we-are-not-your-kind the-gray-chapter all-hope-is-gone"
                                 "vol-tres iowa slipknot-album"
                                 ;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 0.5fr 0.5fr;
            gap: 1rem;

            .album-6{
                grid-area: we-are-not-your-kind;
            }
    
            .album-5{
                grid-area: the-gray-chapter;
            }
    
            .album-4{
                grid-area: all-hope-is-gone;
            }
    
            .album-3{
                grid-area: vol-tres;
            }
    
            .album-2{
                grid-area: iowa;
            }
    
            .album-1{
                grid-area: slipknot-album;
            }
        }    
    }  
}

/* albums 1 al 6 */

.portada-discografia-albums{
    background-image: url(../img/portadadiscografia.png);
    @include portadas;
}

.albm{
    @include albums;
    .img-albums{
        border: rgb(19, 19, 19) solid 8px;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
        }
    }
    .alb-descrip{
        @extend %cajas;
        .album-title{
            @include subtitulos;
        }
        p{
            font-size: 0.8rem;
        }
    }
    .redes{
        display: none;
    }
    .spotify{
        height: 380px;
        width: 100%;
    }
}

/* screens 760px */
@media screen and (min-width: 760px) {
    
    .portada-discografia-albums{
        display: block;
    }

    .albm{
        display: grid;
        grid-template-areas: "img-album descripcion redes"
                             "spotify spotify redes";
        grid-template-columns: 3fr, 3fr, 1fr;
        grid-template-rows: 1fr, 2fr;
        justify-content: center;
        gap: 1rem;
        .img-albums{
            grid-area: img-album;
        }
        .alb-descrip{
            grid-area: descripcion;
        }
        .spotify-container{
            grid-area: spotify;
            display: flex;
            justify-content: center;
            .spotify{
                width: 100%;
            }
        }
    }
}

/* screens 1080px*/

@media screen and (min-width: 1080px) {
    .albm{
        display: grid;
        grid-template-areas: "img-album descripcion"
                             "redes spotify";
        grid-template-columns: 0.5fr 1fr; 
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        .img-albums{
            grid-area: img-album;
            width: 300px;
            
        }
        .alb-descrip{
            grid-area: descripcion;
            justify-self: left;
            max-width: 750px;
            width: fit-content;
            .album-title{
                font-size: $medida-secun;
            }
            p{
                font-size: 1.2rem;
            }
        }
        .redes{
            grid-area: redes;
            display: block;
            background-color: #252525;
            border: solid white;
            border-radius: 1rem;
            max-width: 300px;
            
            a{
                display: grid;
                width: fit-content;
                justify-items: center;
                padding: 1rem;
                .facebook{
                    min-width: 100px;
                    max-width: 20%;
                }
                .instagram{
                    min-width: 100px;
                    max-width: 20%;
                }
                .twitter{
                    min-width: 100px;
                    max-width: 20%;
                }
                transition: all 600ms;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
        .spotify-container{
            justify-self: left;
            grid-area: spotify;
            width: fit-content;
            .spotify{
                width: 750px;
            }
        }
    }
 }
    


/*html tours*/

.main-tours{
    background-color: #414141;
    padding: 1rem;
    .title-tours{
        @include subtitulos;
    }
    .venta{
        background-color: $color-ppal;
        padding: 1rem;
        .container-compra{
            display: flex;
            flex-direction: column;
            background-color: #414141;
            .ticket{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $color-ppal;
                margin: 1rem;
                padding: 1rem;
                border: solid 0.2rem $color-sec;
                border-radius: 0.5rem;
                .fecha{
                    @extend %tours;
                    text-align: center
                }
                .lugar{
                    @extend %tours;
                    text-align: center
                }
                .buy-button{
                    @extend %botones;
                    transition: all 300ms;
                    &:hover{
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}

/* screens 520px */
@media screen and (min-width: 520px){
    .main-tours{
        .venta{
            .container-compra{
                .ticket{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
}

/* screens 760px */
@media screen and (min-width: 760px){
    .main-tours{
        .title-tours{
            font-size: $medida-terc;
        }
        .venta{
            .container-compra{
                .ticket{
                    .fecha{
                        font-size: $medida-cuar;
                    }
                    .lugar{
                        font-size: $medida-cuar;
                    }
                    .buy-button{
                        font-size: $medida-cuar;
                    }
                }
            }
        }
    }
}

/* screens 1024px */
@media screen and (min-width: 1024px){
    .main-tours{
        .title-tours{
            font-size: $medida-ppal;
        }
        .venta{
            .container-compra{
                .ticket{
                    .fecha{
                        font-size: $medida-secun;
                    }
                    .lugar{
                        font-size: $medida-secun;
                    }
                    .buy-button{
                        font-size: $medida-secun;
                    }
                }
            }
        }
    }
}

/* html contacto */

.contacto-portada {
    background-image: url(../img/portadacontacto.jpg);
    @include portadas;
}

.main-contacto{
    padding: $medida-ppal;
    background-color: #252525;
    text-align: center;
    .title-contacto {
        @include subtitulos;
    }
    .contacto-per{
        .mail-contacto {
            p{
                color: #ffffff;
                font-family: 'Bebas Neue', cursive;
                font-size: 1.2rem;
            }
        }
    }
    .envianos-tu-msj {
        @include subtitulos;
    }
    form {
        margin: auto;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        input, textarea {
            width: 50%;
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}

/*screen 760px*/
@media screen and (min-width: 760px) {
    .contacto-portada{
        display: block;
    }

    .main-contacto{
        .title-contacto { 
            font-size: $medida-terc;               
        }
        .contacto-per{
            .mail-contacto {
                p{
                    font-size: $medida-secun;
                }
            }
        }
        .envianos-tu-msj {
            font-size: $medida-terc;            
        }
    }
}

/*screen 1280px*/
@media screen and (min-width: 1280px){
    .main-contacto{
        .title-contacto { 
            font-size: $medida-ppal;               
        }
        .contacto-per{
            .mail-contacto {
                p{
                    font-size: $medida-terc;
                }    
            }
        }
        div{
            .envianos-tu-msj {
                font-size: $medida-ppal;            
            }
        }
    }
}