// botones de compra
%botones{
    color: #000000;
    text-decoration: none;
    background-color: greenyellow;
    padding: 0.4rem;
    height: fit-content;
    font-family: 'Bebas Neue', cursive;
    border-radius: 0.4rem;
    font-size: 1.2rem;
}

%cajas{
    background-color: #252525;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    border-radius: 0.5rem;
    border-style: solid;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    font-family:'Bebas Neue', cursive;
    font-size: 1.2rem;
}

%tours{
    color: #ffffff;
    font-family:'Bebas Neue', cursive;
    padding: 0.5rem;
}