// botones de compra
%botones{
    color: #000000;
    text-decoration: none;
    background-color: greenyellow;
    padding: 0.4rem;
    font-family: 'Bebas Neue', cursive;
    border-radius: 0.4rem;
    font-size: 1.2rem;
}